*{
    box-sizing: border-box;
    margin: 0;
    float: none;
	position: static;
}
.container{
    width: 1440px;
}
header{
    background-color: black;
    height: 70px;
    width: 1440px;
    
}

.header-left img{
    width: 120px;
    float: left;
}
.header-left h3{
    color: azure;
    padding-top: 21px;
    float: left;
}

.iphone-top{
    display: none;
}

.swich-wrapper{
    background-color: grey;
    height: 70px;
    text-align: center;
    width: 1440px;
    
}
.swich-wrapper a{
    padding: 0 75px;
    background-color: white;
    line-height: 70px;
    display: inline-block;
    color: black;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Arial Black";   
}

.swich-wrapper a:hover{
    opacity: 1;
}
.profile-wrapper::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-image:url(https://github.com/yuuki106/azuki_profile.github.io/blob/main/prback.jpg?raw=true);
    background-size:cover;
    }
.profile{
    background-color: rgba(0, 0, 0, 0.761);
    width: 1300px;
    margin: auto;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.profile h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "rounded-l-mgenplus-1c-black";
    letter-spacing: 6px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.profiles{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.profiles img{
    border-radius: 10px;
    border: 10px solid rgba(227, 219, 219, 0.61);
}

.profile-text{
    color: white;
    padding-left: 30px;
}
.profile-text p{
    padding-bottom: 10px;
    font-size: 20px;
}

.favorite-food-wrapper::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-image:url(https://github.com/yuuki106/azuki_profile.github.io/blob/main/prback.jpg?raw=true);
    background-size:cover;
    }
.favorite-food{
    background-color: rgba(255, 255, 255, 0.761);
    width: 1300px;
    margin: auto;
    border-left: 3px solid white;
    border-right: 3px solid white;
    height: 100%;
}


.favorite-food h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "rounded-l-mgenplus-1c-black";
    letter-spacing: 6px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.favorite-food-ranking{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
.favorite-food-ranking a{
    color: black;
    text-decoration:none;
    font-size: 20px;
    opacity: 0.7;
    font-weight: bold;
}
.favorite-food-ranking a:hover{
    opacity: 1;
    transition: 0.2s;
}
.favorite-food-ranking p{
    text-align: center;
}
.first{
    display: flex;
    align-items: flex-start;
    padding-right: 60px;
}
.second{
    display: flex;
    align-items: flex-start;
    padding-right: 60px;
}
.third{
    display: flex;
    align-items: flex-start;
    padding-right: 60px;
}

.snack{
    padding-bottom: 48px;
}
.snack2{
    display: none;
}

.house1-wrapper::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-image:url(https://github.com/yuuki106/azuki_profile.github.io/blob/main/prback.jpg?raw=true);
    background-size:cover;
    }

.house1{
    background-color: rgba(0, 0, 0, 0.761);
    width: 1300px;
    margin: auto;
    border-left: 3px solid white;
    border-right: 3px solid white;
    height: 100%;
    border-bottom: 1px dotted white;
    
}
.house1 h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "rounded-l-mgenplus-1c-black";
    letter-spacing: 6px;
    padding-bottom: 50px;
    padding-top: 20px;
}
.house1-text{
    display: flex;
    justify-content: center;
}
.house1-text img{
    margin-left: 20px;
    border-radius: 10px;
    border: 10px solid rgba(227, 219, 219, 0.61);
}
.house1-text2{
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-top: 20px;
}
.house1-text2 h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.iphone-only{
    display: none;
}
.house1-text2 h3{
    font-size: 25px;
}
.house1-text3 p{
    font-size: 20px;
    color: white;
    padding:30px 40px;
    text-align: center;
    
}
.house2-wrapper::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-image:url(https://github.com/yuuki106/azuki_profile.github.io/blob/main/prback.jpg?raw=true);
    background-size:cover;
    }

.house2{
    background-color: rgba(0, 0, 0, 0.761);
    width: 1300px;
    margin: auto;
    border-left: 3px solid white;
    border-right: 3px solid white;
    height: 100%;
}

.house2-text1{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.house2-text1 img{
    margin-left: 20px;
    border-radius: 10px;
    border: 10px solid rgba(227, 219, 219, 0.61);
}
.house2-text2 {
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-top: 20px;
}
.house2-text2 h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.house2-text2 h3{
    font-size: 25px;
}

.house2-text3 p{
    font-size: 20px;
    color: white;
    padding:30px 40px;
    text-align: center;
}

.iphone-swich{
    display: none;
}

footer{
    width: 1440px;
    height: 80px;
}

.fotter-logo p{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
}
